.CountdownTimer {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
    align-items: center;
    color: var(--light) !important;
}

.block {
    margin: 0 15px 0 15px !important;
}

.time {
    font-weight: 900 !important;
    font-size: 55px !important;
    margin: 0px !important;
    text-align: center;
}

.label {
    margin: 0px !important;
    text-align: center;
    font-weight: 700;
}

.symbol {
    font-size: 31px !important;
}