.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light) !important;
  height: 100vh;
}

.bg-image {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, .5)
  ),url('../assets/images/engagement.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  color: var(--light); /* Optional: Set text color for better visibility */
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
}

.title {
  font-family: var(--Allura) !important;
  font-size: 125px;
  font-weight: 400 !important;
  color: var(--satinsheetgold) !important;
  text-align: center;
}

.subtitle {
  font-family: var(--Garamond);
  font-size: 25px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
}

.small {
  font-size: 25px !important;
  margin-top: 7px;
}

hr {
  -webkit-animation: lineDraw 2s;
  -moz-animation: lineDraw 2s;
  -o-animation: lineDraw 2s;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  animation: lineDraw 2s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 67px;
  margin: 0px 15px 0px 0px !important;
  color: var(--purple)
}

h2 {
  font-size: 35px;
  letter-spacing: -1px !important;
  color: var(--grey);
  margin-bottom: 0px !important;
}

h3 {
  font-family: 'EB Garamond', serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 21px !important;
}

.logo-title {
  width: 55px;
  height: 125px;
  margin-right: 11px;
  animation: rotate 3s;
}

@keyframes lineDraw {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}


@media (min-width: 280px) and (max-width: 624px) {
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 19px !important;
  }
  .title {
    font-size: 55px;
    margin-right: 5px !important;
  }
  .title-area {
    margin-top: -50% !important;
  }
  .subtitle {
    font-size: 19px !important;
  }

  .border {
    height: 75px !important;
    width: 75px !important;
  }

  @keyframes lineDraw {
    0% {
      width: 0px;
    }
    100% {
      width: 75%;
    }
  }
}


@media (min-width: 625px) and (max-width: 1024px) {
  h3 {
    font-size: 25px !important;
  }
  .title {
    font-size: 95px;
  }
  /* .title-area {
    margin-top: -50% !important;
  } */
  @keyframes lineDraw {
    0% {
      width: 0px;
    }
    100% {
      width: 65%;
    }
  }
}