.Information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    width: 100%;
  }

.heading-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: #ffffff !important; /* Optional: Set text color for better visibility */
}

.bg-image-information {
  position: absolute;
  top: 0;
  height: 75vh;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, .3), 
    rgba(0, 0, 0, .3)
  ),url('../assets/images/information.JPG'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  color: #ffffff; /* Optional: Set text color for better visibility */
  border-bottom: rgb(231, 179, 38) 9px double;
}

.content {
    margin: 50px;
    padding: 15px;
    background-color: white;
    width: 65%;
    color: black;
    display: flex;
    flex-direction: column;
}