.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white !important;
  width: 100%;
  overflow: scroll;
}

.nav-bg {
  position: fixed;
  width: 100%;
  height: 105px;
  background-color: var(--light);
  z-index: 999999999;
  border-bottom: 1px solid var(--resedagreen);
  opacity: 0;
  transition: .2s ease-in-out;
}

.nav-bg.scroll {
  opacity: 1 !important;
}

.heading-area {
  min-height: 500px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity for better visibility */
  color: #ffffff !important; /* Optional: Set text color for better visibility */
  z-index: 1; /* Ensure the heading-area is above other content */
  width: 100%; /* Ensure the heading-area spans the full width */
}

.bg-image-information {
  height: 100%; /* Adjusted to fill the entire height of the heading-area */
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, .5), 
      rgba(0, 0, 0, .3), 
      rgba(0, 0, 0, .3)
    ),
    url('../assets/images/information.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center 45%; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  color: #ffffff; /* Optional: Set text color for better visibility */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-area {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 15px;
  background-color: white;
  width: 85%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-title {
  font-family: var(--Allura) !important;
  color: var(--satinsheetgold);
  font-size: 35px !important;
  margin: 0;
}

.event-time {
  margin: 0;
  font-weight: 700;
}

.event-details {
  margin: 0;
  font-size: 15px !important;
  text-align: center;
}

.symbol-divider {
  color: var(--resedagreen) !important;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 800px) {
  .heading-area {
    min-height: 700px !important;
  }

}