.Information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    width: 100%;
  }

.heading-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: #ffffff !important; /* Optional: Set text color for better visibility */
}

.bg-image-information {
  position: absolute;
  top: 0;
  height: 65vh;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, .3), 
    rgba(0, 0, 0, .3)
  ),url('../assets/images/information.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  color: #ffffff; /* Optional: Set text color for better visibility */
  --mask:
  radial-gradient(122.98px at 50% calc(100% - 165.00px),#000 99%,#0000 101%) calc(50% - 110px) 0/220px 100%,
  radial-gradient(122.98px at 50% calc(100% + 110.00px),#0000 99%,#000 101%) 50% calc(100% - 55px)/220px 100% repeat-x;
  -webkit-mask: var(--mask);
        mask: var(--mask);
}

.content {
    margin: 0 50px 0 50px;
    padding: 15px;
    background-color: white;
    width: 65%;
    color: black;
    display: flex;
    flex-direction: column;
}

h2 {
  font-family: var(--Allura) !important;
  color: var(--dark);
  text-align: center;
  font-size: 45px !important;
}

.line-container {
  display: flex;
  justify-content: center;
}

.line-text {
  display: flex;
  position: relative;
  padding: 0 10px; /* Adjust padding as needed */
}

.line-text::before,
.line-text::after {
  content: "";
  position: absolute;
  top: 50%;
  min-width: 50px;
  height: 1px;
  background-color: var(--gold); /* Adjust color as needed */
}

.line-text::before {
  right: 100%;
  margin-right: 10px; /* Adjust margin as needed */
}

.line-text::after {
  left: 100%;
  margin-left: 10px; /* Adjust margin as needed */
}

.question {
  font-weight: 700px !important;
  margin: 0;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  color: var(--dark);
  margin: 0
}

.text {
  margin: 5px;
}