.bg-image {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url('../assets/paisley.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  opacity: .5;
}

.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    height: 100vh;
    width: 100%;
}

.image-area {
    display: flex;
    align-items: center;
}

.illustration {
    height: 175px;
}

.couple {
  position: fixed;
}

.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px !important;
  }

  .illustration-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .title {
    font-family: var(--Allura) !important;
    color: var(--satinsheetgold) !important;
    font-size: 125px;
    font-weight: 400 !important;
    text-align: center;
  }

  .subtitle {
    font-family: var(--Garamond);
    font-size: 25px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
    color: var(--africanviolet);
  }

  .content-area {
    background-color: var(--light) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 85%;
    z-index: 99999;
    border-radius: 35px;
    border: 15px double var(--satinsheetgold);
  }