.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    height: 100vh;
    width: 100%;
}

.image-area {
    display: flex;
    align-items: center;
}

.bridegroom {
    height: 275px;
}

.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px !important;
  }
  
  .title {
    font-family: var(--Allura) !important;
    color: var(--satinsheetgold) !important;
    font-size: 125px;
    font-weight: 400 !important;
    text-align: center;
  }

  .subtitle {
    font-family: var(--Garamond);
    font-size: 25px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
    color: var(--africanviolet);
  }