:root {
  --grey: #6A6A6A;
  --light: #FFFCF8;
  --brightpink: #FF6186;
  --teagreen: #CCE1A8;
  --africanviolet: #BE8FBF;
  --fairytale: #FFCFDA;
  --resedagreen: #788661;
  --thistle: #E9CAE9;
  --satinsheetgold: #d6ae29;
  --jasmine: #F6D772;
  --Allura: 'Allura', cursive;
  --Garamond: 'Cormorant Garamond', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: var(--Allura) !important;
  color: var(--secondary);
}

h3 {
  font-weight: 400;
  color: var(--secondary);
}

p {
  font-family: var(--Garamond) !important;
  font-size: 19px !important;
  color: var(--secondary)
}

hr {
  width: 55%;
  border-width: .5px;
  margin: 35px 0 35px 0;
}

.emphasis {
  font-weight: 500 !important;
  color: var(--accent2);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  opacity: 1;
  color: #ffffff !important; /* Optional: Set text color for better visibility */
}

.border {
  z-index: 9999999999;
  position: absolute;
  width: 150px !important;
  height: 150px !important;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  transform: scaleX(-1);
  top: 0;
  right: 0;
}

.bottom-left {
  transform: scaleY(-1);
  bottom: 0;
  left: 0;
}

.bottom-right {
  transform: scaleX(-1) scaleY(-1);
  bottom: 0;
  right: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5%;
  width: 85% ;
  justify-content: space-between;
  align-items: center;
  z-index: 99999999999;
}

.nav-column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  font-family: var(--Garamond) !important;
  font-size: 17px !important;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700 !important;
}

.nav-item:hover {
  transform: scale(1.1);
  letter-spacing: 3px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Style for the hamburger icon */
.menu-toggle {
  display: none; /* Hidden by default on larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Style for the navigation menu */
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.logo {
  width: 75px;
  height: 75px;
  transition: .2s ease-in-out;
  /* animation: rotate 3s; */
}

.logo-mobile {
  width: 35px;
  height: 35px;
  transition: .2s ease-in-out;
  /* animation: rotate 3s; */
}

.navigation-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  width: 65% ;
  align-items: center;
  z-index: 99999999999;
}

.nav-mobile {
  margin: 0px !important;
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: 2px;
  font-weight: 700;
  transition: .2s ease-in-out;
}

.nav-mobile:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.modal-link {
  font-family: var(--Garamond);
  color: var(--satinsheetgold);
  font-weight: 700;
  margin: 5px;
  font-size: 21px;
  transition: .2s ease-in-out;
}

.modal-link:hover {
  color: var(--fairytale);
  cursor: pointer;
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-nav {
  background-color: white;
  padding: 20px;
  color: var(--resedagreen);
  border-radius: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 15px;
  font-family: var(--Garamond);
  border-radius: 15px;
  border: 1px double var(--light);
  background-color: transparent;
  color: var(--light);
  font-size: 25px;
  transition: .2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--satinsheetgold);
  border-color: var(--satinsheetgold);
}


.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 280px) and (max-width: 900px) {
  .navigation {
    width: 85%;
  }
  .nav-item {
    font-size: 11px !important;
    letter-spacing: 1px !important;
  }
  .logo {
    width: 25px;
    height: 25px;
  }

}
